
.responsive-test {
    position: fixed;
    top: 80px;
    left: 0;
    /* display: inline-block; */
    display: none;
    padding: 10px;
    color: #000;
    background: #FC0;
    z-index: 200;
}


/* Generales
************************************************/

header .menu-bars,
header .btn-search {
    margin: 20px 10px 0 0;
    color: #FFF;
    font-size: 28px;
    width: 50px;
    display: block;
    transition: all 200ms ease-out;
}

.menu-nav-movil {
    position: fixed;
    top: 80px;
    right: -310px;
    width: 300px !important;
    height: 100%;
    padding: 20px 0 0 !important;
    background: #FFF;
    box-shadow: -4px 10px 7px 2px rgba(0, 0, 0, 0.4);
    text-align: left !important;
    transition: all 200ms ease-out;
}

.menu-on {
    right: 0px;
}

.menu-nav-movil li {
    display: block;
    float: none;
    line-height: 40px;
    margin: 0px 30px;
    color: #777;
    font-size: 17px;
    border-bottom: solid 1px #CCC;
    padding: 0 0px;
}

.menu-nav-movil li a {
    color: #777;
}




@media (max-width: 768px) {

    body {
        overflow-x: hidden;
        padding-top: 66px;
    }

	.container {
        width: 100%;
    }

    /* General
    ********************************************/
    .menu-logo-img {
        width: 240px;
    }

    header {
        height: 66px;
    }

    header .menu-logo {
        margin: 18px 0;
    }

    .menu-nav .fa {
        font-size: 25px;
    }

    header .menu-bars,
    header .btn-search {
        margin: 13px 5px 0 0;
        color: #FFF;
        font-size: 25px;
        width: 32px;
        display: block;
        transition: all 200ms ease-out;
    }

    .menu-nav-movil {
        top: 66px;
    }


    /* Home
    ********************************************/

    .home-destacados {
        padding-bottom: 60px;
    }
    

    /* Banner
    ********************************************/

    .featured-banner {
        height: 330px;
        background-position: center 0px;
    }

    .featured-banner-caption {
        padding: 180px 0;
    }

    .featured-banner-caption h2 {
        font-size: 35px;
    }
    
    .featured-banner-caption h1 {
        font-size: 40px;
        margin-bottom: 5px;
    }


    /* Bootstrap
    ********************************************/

    .btn {
        font-size: .9rem;
    }

    
    /* Items
    ********************************************/

    .carousel-icon {
        height: 50px;
        line-height: 50px;
    }

    .carousel-icon i, .carousel-icon svg {
        font-size: 20px;
    }

    .carousel-title h3 {
        font-size: 22px;
    }

    .box-item-offer-flag {
        font-size: 12px !important;
        width: 65px !important;
        top: 170px !important;
    }

    .box-item-details {
        padding: 5px 10px 1px;
    }
    
    .box-item-details-shop {
        padding: 0px 0px 1px;
    }
    
    .box-item-details h3 {
        font-size: 15px;
        margin-top: 0px;
    }

    .box-item-details p {
        font-size: 19px !important;
        margin-bottom: 10px;
    }

    .box-item-details p span {
        font-size: 15px !important;
    }

    .product-item-showing {
        box-shadow: none;
        margin-bottom: 0px;
    }


    /* Item detail
    ********************************************/

    .store-header-item {
        left: 0%;
        width: 100%;
    }

    .store-header-card {
        width: 75%;
    }

    .item-container {
        margin-top: 0px;
    }

    .product-item-showing {
        border-radius: 0px;
        padding: 0px;
        border: none;
    }

    .item-col-photos {
        padding: 0;
    }

    .item-col-photos-container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .n-photo {
        padding: 0px 0px 0px;
        top: 0;
        bottom: unset;
    }

    .n-photo>div {
        padding: 10px 20px 30px;
        text-align: right;
        background: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0));
    }

    .store-header-card-image {
        border: none;
    }

    .item-col-detail {
        padding: 20px 20px;
    }
    
    .precio-item {
        font-size: 40px;
    }
    
    .precio-item .old {
        font-size: 22px;
    }

    .btn-question {
        margin-bottom: 0px;
    }

    .item-question {
        width: 100%;
        font-size: 16px;
    }

    .detail-footer {
        line-height: 26px;
    }

    .pop-box {
        width: 90%;
        padding: 60px 30px 0;
    }

    .pop-box h3 {
        text-align: left;
    }

    .col-form-label {
        text-align: left;
    }

    .pop-header {
        margin-bottom: 15px;
    }


    /* User
    ********************************************/

    .routing {
        margin-bottom: 0px;
    }

    .store-admin {
        margin: 0px 0 0px;
    }

    .mainbar {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mainbar .card {
        border-radius: 0px !important;
        margin-bottom: 0px !important;
    }

    .container-forms {
        margin-top: 0;
        margin-bottom: 0;
    }

    .cont-forms {
        padding: 0;
    }

    .card-body-forms {
        margin: 0 !important;
        padding: 15px 30px 100px;
    }
    
    .card-body-pad {
        padding: 20px 20px 80px;
    }

    .card-body-title {
        margin-bottom: 0px;
    }

    .card-body-pad-1 {
        padding: 20px 20px 10px;
    }

    .card-body-title h1 {
        font-size: 24px;
    }

    .card-body-message-head>div {
        line-height: 20px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .card-body-message-head>div>span {
        display: block;
        font-size: 14px;
    }

    .table th {
        border-top: none;
    }

    .table th, table td {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .form-row {
        padding: 0 0 10px 0;
        margin: 0 0 0;
        border-bottom: none;
    }

    .form-group-alt label {
        margin-bottom: 7px;
    }

    .show-grid-item-favs {
        padding: 0px;
    }

    .options-fav {
        position: absolute;
        text-align: right;
        top: 5px;
        right: 20px;
    }

    .options .btn-opt {
        background: #FFF;
    }

    .routing-back a {
        margin-right: 0px;
    }

    .sidebar ul {
        padding-bottom: 80px;
        padding-top: 30px;
    }

    .sidebar ul li {
        font-size: 16px;
        line-height: 40px;
    }

    .sidebar ul li a {
        padding: 0 0;
    }

    .margin-form {
        padding: 0px 15px 50px;
    }

    .btn-important {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 15px !important;
        width: 100%;
    }

    .btn-important:first-child {
        margin-top: 10px;
    }

    .btn-new {
        background: #090;
        color: #FFF !important;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        display: block;
        position: fixed;
        right: 30px;
        bottom: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        z-index: 15;
        box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.6);
        transition: all 300ms ease;
    }

    .btn-new-off {
        display: none;
    }


    /* Stores management
    ********************************************/
    
    .stores-logo{
        text-align: center;
    }

    .stores-logo img{
        border: solid 1px #999;
        width: 100px;
        margin: 0 auto;
    }
    
    .stores-info {
        margin-top: 13px;
    }

    .stores-info h3 {
        font-size: 16px;
    }

    .box-admin {
        margin-bottom: 20px;
    }

    .box-admin>div {
        height: 195px;
    }

    .box-admin:nth-child(even) {
        padding-left: 10px;
    }

    .box-admin:nth-child(odd) {
        padding-right: 10px;
    }

    .item-active {
        margin-top: 8px;
    }

    .h-toggle {
        display: block;
        margin-top: 0px;
    }

    .h-toggle.first {
        margin-top: 30px;
    }

    .div-toggle {
        display: none;
    }

    .div-toggle-features {
        padding-bottom: 30px;
    }

    .div-toggle-tags {
        padding-bottom: 30px;
    }

    .btn-border {
        margin: 0px;
        border-bottom: solid 1px #CCC;
    }

    .btn-border .btn-link {
        color: var(--);
        font-size: 17px !important;
        text-align: center;
        display: block;
    }


    /* Footer
    ********************************************/

    .margin-footer {
        margin: 0 5px;
    }

}



@media (min-width: 769px) and (max-width: 991px) {
    
    .container {
        width: 100%;
        max-width: 96%;
    }

    /* Banner
    ********************************************/

    .featured-banner {
        height: 380px;
        background-position: center 0px;
    }

    /* Item detail
    ********************************************/

    .product-item-showing {
        padding: 30px 0px;
        border: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }

    .item-col-photos {
        padding: 0 0 0 10px;
    }

    .pop-box {
        width: 80%;
        padding: 60px 30px 0;
    }


    /* Listados
    ********************************************/

    .item-tienda .box-item-offer-flag {
        top: 170px !important;
    }


    /* User area
    ********************************************/

    .card-body h1 {
        font-size: 26px;
    }

    .card-body-title {
        margin-bottom: 0px;
    }


    /* Footer
    ********************************************/

    .foot-sec {
        text-align: center;
    }

    .foot-sec li i {
        display: none;
    }

    .atencion-cliente {
        margin-top: 30px;
    }
    
}



@media (min-width: 992px) and (max-width: 1199px) {

    .container {
        width: 100%;
    }
    
}



@media (min-width: 1200px) {
    
    .container {
        width: 100%;
    }
    
}