
:root {
	/* Colores generales */
	--colorPrincipal: #D90046;
	--white: #FFF;

	/* Bootstrap */
	--primary: #38607E;
	--primary-on: #214769;
	--secondary: #506880;
	--secondary-on: #244260;
	--success: #528D46;
	--success-on: #277018;
	--info: #33B8ED;
	--info-on: #00A6E8;
	--warning: #CDA133;
	--warning-on: #C18A00;
	--danger: #AD3333;
	--danger-on: #990000;

	/* Colores interesantes */
	--azul: #26547C;
	--naranja-fuerte: #EF271B;
	--violeta: #820263;
	--morado: #820263;
	--amarillo: #F9C80E;
	--amarillo-oscuro: #FF9914;
	--rosa-viejo: #EB5E55;
	--verde-suave: #0EAD69;
	--verde-opaco: #32936F;
	--celeste-opaco: #448FA3;
	--azul-violeta: #2B2D42;

}


/*
 |
 | CLASES PARA COLORES
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.principal {
	color: #E8004E;
}


/*
 |
 | LINKS DE LA PÁGINA
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

main a:link:not(.btn),
main a:visited:not(.btn) {
	color: var(--colorPrincipal);
}

main a:active:not(.btn),
main a:hover:not(.btn) {
	color: var(--colorPrincipal);
	text-decoration: underline;
}

footer a:link:not(.btn),
footer a:visited:not(.btn) {
	color: var(--colorPrincipal);
}

footer a:active:not(.btn),
footer a:hover:not(.btn) {
	color: var(--colorPrincipal);
	text-decoration: underline;
}


/*
 |
 | MODIFICACIONES BOOTSTRAP
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.btn {
	box-shadow: none !important;
}

.btn-primary {
	background: var(--primary);
	border: solid 1px var(--primary);
}

.btn-primary:hover {
	background: var(--primary-on);
	border: solid 1px var(--primary-on);
}

.btn-link {
	color: var(--primary);
}

.btn-link:hover {
	color: var(--primary-on);
}

.btn-outline-primary {
	color: var(--primary);
	border: solid 1px var(--primary);
}

.btn-outline-primary:hover {
	color: var(--primary-on);
	border: solid 1px var(--primary-on);
	background: transparent;
}

.btn-fb {
	background: #3B5998;
	border: solid 1px #3B5998;
}

.btn-fb:hover {
	background: #334D84;
	border: solid 1px #334D84;
}

.btn-pt {
	background: #E60023;
	border: solid 1px #E60023;
}

.btn-pt:hover {
	background: #CC001F;
	border: solid 1px #CC001F;
}

.btn-tw {
	background: #00ACEE;
	border: solid 1px #00ACEE;
}

.btn-tw:hover {
	background: #0092CC;
	border: solid 1px #0092CC;
}

.btn-wp {
	padding: 0px 1px 3px !important;
}

.btn-wp i {
	padding: 4px 4px 0 6px !important;
}

.btn-wp span {
	padding: 6px 7px 0 0 !important;
	margin: 0 !important;
}


/*
 |
 | PAGINADO BOOTSTRAP
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.page-item.active .page-link {
	background-color: var(--colorPrincipal);
	border-color: var(--colorPrincipal);
}

.page-link {
	color: var(--colorPrincipal);
	padding: 10px 17px;
	font-weight: 500;
}

.page-link:hover {
	color: var(--colorPrincipal);
}