@media screen and (min-width: 1366px) {
    .testimonial-slider {
        width: 100%;
        float: left;
        background-color: #F5F6F0;
        max-height: 436px;
    }
    .slider-text {
        top: 25%;
        width: 740px;
    }
    .testimonial-banner-text {
        padding: 130px 0 130px 13%;
    }
    .slider-text p {
        color: #fff;
        padding: 20px 100px 20px 0;
    }
    div#main-slider .owl-nav .owl-prev,
    div#main-slider .owl-nav .owl-next {
        width: 55px;
        height: 40px;
    }
    div#main-slider .owl-nav span {
        padding: 7px 0 0 0;
        display: inline-block;
        font-size: 25px;
    }
    div#main-slider .owl-nav {
        margin-top: -20px;
    }
}
@media screen and (max-width: 1200px) {
    ul#sub-nav {
        left: calc(0% - 200px);
    }
}
@media screen and (min-width: 1200px) and (max-width: 1366px) {
    .testimonial-banner-text {
        width: 80%;
    }
    .testimonial-banner-text h2 {
        font-size: 50px;
    }
    .testimonial-slider {
        min-height: 424px;
        max-height: 424px;
    }
    .slider-text {
        top: 130px;
        width: 53%;
        left: 10%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .slider-text {
        top: 130px;
        width: 65%;
    }
    .slider-text {
        top: 15%;
        width: 65%;
    }
    .featured-banner-caption {
        width: 60%;
    }
    .testimonial-banner-text h2 {
        font-size: 50px;
    }
    .testimonial-slider {
        min-height: 424px;
        max-height: 424px;
    }
    .free-shipping-text-box {
        padding: 24px 5px 0 40px;
    }
    .blog-news-box figcaption {
        bottom: 10px;
    }
    .newslatter-box {
        padding: 21px 30px;
    }
    .dark-background {
        padding: 15px 15px;
    }
    .product-effect-grid:hover .product-effect figcaption {
        top: 122px;
        left: 8px;
        opacity: 1;
    }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
    .slider-text {
        top: 60px;
        width: 80%;
        left: 10%;
    }
    .slider-text p {
        padding: 20px 320px 20px 0;
    }
    .featured-banner-caption {
        width: 60%;
    }
    .free-shipping-text-box {
        padding: 24px 35px 0;
    }
    .testimonial-banner-text h2 {
        font-size: 48px;
    }
    .testimonial-banner-text h1 {
        font-size: 60px;
    }
    .testimonial-slider {
        min-height: 409px;
        max-height: 409px;
    }
    .blog-news-box figcaption p {
        margin: 10px 0 0 0;
    }
    .newslatter-box {
        padding: 27px 32px;
    }
    .newslatter-search-bar .search_bar {
        margin-top: 10px;
    }
    .dark-background {
        padding: 15px 15px;
    }
    .product-effect-grid:hover .product-effect figcaption {
        top: 122px;
        left: 8px;
        opacity: 1;
    }
    .my-account-bar {
        margin-left: 26px;
    }
    .language_bar {
        margin-right: 26px;
    }
    .page-tool-box span {
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    div#main-slider .owl-nav .owl-prev {
        margin-left: 20px;
    }
    div#main-slider .owl-nav .owl-next {
        margin-right: 20px;
    }
    .free-shipping-icon-box i {
        padding: 30px 0;
    }
    .free-shipping-icon-box:after {
        border-bottom: 81px solid;
        border-right: 31px solid transparent;
        right: -31px;
    }
    .page-tool-box span {
        font-size: 15px;
    }
    .my-account-bar {
        margin-left: 30px;
    }
    .language_bar {
        margin-right: 30px;
    }
    .navbar-header {
        margin: 0 -15px;
    }
    ul.nav.navbar-nav li a {
        padding: 32px 10px;
        font-size: 13px;
    }
    .navbar-header a.navbar-brand {
        padding: 33px 15px;
    }
    .navbar-brand img {
        width: 80%;
        margin: 0 auto;
    }
    /*
==========================
 Slider text css
==========================
*/
    
    .slider-text {
        top: 50px;
        width: 80%;
    }
    .slider-shap-box {
        padding: 10px 20px;
        width: 50%;
    }
    .slider-shap-box h2 {
        font-size: 25px;
    }
    .slider-shap-box:after {
        border-bottom: 60px solid;
    }
    .slider-text p {
        color: #fff;
        padding: 10px 0;
        font-size: 14px;
    }
    .slider-text h1 {
        font-size: 40px;
    }
    .foot-sec {
        min-height: 273px;
        margin-bottom: 30px;
    }
    .newslatter-box {
        width: 100%;
    }
    .newslatter-box {
        padding: 0;
        margin-top: 13px;
    }
    .newslatter-box p {
        display: none;
    }
    .newslatter-form {
        padding: 0 40px;
    }
    .newslatter-search-bar .search_bar {
        margin: 0;
    }
    .blog-news-box figcaption {
        bottom: 12px;
    }
    .product-item .price-box {
        padding: 30px 15px 0;
    }
    .free-shipping-text-box h5,
    .free-shipping-text-box p {
        font-size: 14px;
    }
    .slider-text p {
        padding: 10px 0px 10px 0;
    }
    .slider-text {
        top: 10%;
        width: 50%;
        left: 10%;
    }
    .slider-shap-box {
        width: 100%;
    }
    .free-shipping {
        margin: 10px 0;
    }
    .testimonial-slider {
        min-height: 388px;
        max-height: 388px;
        padding: 50px 0;
    }
    .featured-banner-caption {
        width: 70%;
    }
    .testimonial-banner-text h2 {
        margin: 0;
        font-size: 37px;
    }
    .testimonial-banner-text {
        width: 90%;
    }
    .free-shipping-icon-box {
        width: 20%;
    }
    .free-shipping-text-box {
        width: 80%;
        padding: 16px 2px 0 23px;
    }
    .product-effect-grid:hover .product-effect figcaption {
        top: 123px;
        left: 5px;
        opacity: 1;
    }
    figcaption.blog-detail h3 {
        font-size: 20px;
    }
    .navbar-header:after {
        border-bottom: 86px solid;
    }
}
@media screen and (min-width: 768px) {
    .page-tool-box-right {
        float: right;
    }
    .newslatter-main-box .newslatter-icon {
        padding-left: 0;
    }
    .dropdown-menu li.left-side .dropdown-menu {
        margin-left: -200px !important;
    }
}
@media screen and (max-width: 767px) {
    div#main-slider .owl-nav .owl-prev {
        margin-left: 15px;
    }
    div#main-slider .owl-nav .owl-next {
        margin-right: 15px;
    }
    .top-header {
        padding-top: 10px;
        padding-bottom: 0;
    }
    .mini-cart {
        width: 280px;
        padding: 30px;
        right: -30px;
    }
    .my-account-bar {
        text-align: center;
        width: 50%;
        margin: 0;
        float: left;
    }
    ul.nav.navbar-nav.sm {
        padding: 20px 0;
    }
    .navbar-header {
        margin-left: -15px;
        margin-right: -15px;
    }
    .newslatter-main-box .newslatter-icon {
        margin-top: 15px;
    }
    .newslatter-icon figure:after {
        display: none;
    }
    .newslatter-icon {
        width: 100%;
    }
    figure.product-grid-image img {
        width: 100%;
    }
    div.tab button {
        margin: 5px 0 0 5px;
        width: 48%;
        padding: 10px 4px;
        float: left;
    }
    .comment-box {
        padding-left: 0;
    }
    .comment-box figure {
        margin-bottom: 10px;
    }
    figcaption.blog-detail span {
        font-size: 14px;
    }
    .blog-grid figcaption p {
        margin: 10px 0;
    }
    .order-table-cell.order-text {
        padding: 0;
    }
    ul.nav li.dropdown a i {
        float: right;
    }
    #single-dropdown {
        width: 100%;
    }
    ul#sub-nav {
        left: 0;
        top: 0;
        position: relative;
        display: none;
    }
    li.sub-nav-drop:hover #sub-nav {
        display: inline-block;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .slider-text {
        text-align: center;
    }
    .slider-shap-box {
        padding: 5px 10px;
        width: 60%;
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .slider-shap-box:after {
        display: none;
    }
    .slider-text {
        top: 10%;
        width: 100%;
        left: 0;
    }
    .bredcrumb-section h3,
    .breadcrumb {
        text-align: center;
    }
    .small-center {
        text-align: center;
    }
    .small-padT30 {
        padding-top: 30px;
    }
    .small-marB20 {
        margin-bottom: 20px;
    }
    .carousel-style-1 .owl-nav {
        top: 20px;
        margin: auto;
        position: relative;
        right: 0;
    }
    .right-pink-shape:before {
        display: none;
    }
    button.navbar-toggle {
        margin: 25px 14px;
    }
    .sticker {
        padding: 10px 25px;
    }
    .sticker:after {
        border-bottom: 45px solid;
    }
    .bottom-footer figure {
        width: 280px;
        float: left;
    }
    li.mega-menu ul.dropdown-menu .row {
        padding: 0;
    }
    #ship-to-different-address label {
        font-size: 19px;
    }
    .product-checkout #ship-to-different-address-checkbox {
        margin: 10px 0 0 5px;
    }
}
@media screen and (min-width: 641px) and (max-width: 767px) {
    /*
==========================
 Header css
==========================
*/
    
    .language_bar,
    .my-account-bar {
        text-align: center;
        padding: 10px 0;
    }
    .my-account-bar .dropdown {
        float: none;
    }
    .navbar-header a.navbar-brand {
        padding: 30px 15px;
    }
    ul.nav.navbar-nav li a {
        padding: 10px 15px;
    }
    ul.drop-links {
        text-align: left;
    }
    .navbar-collapse {
        border: 0;
    }
    .navbar-header:after {
        border-bottom: 0px solid;
        border-right: 0px solid transparent;
        position: relative;
    }
    /*
==========================
 Slider text css
==========================
*/
    
    .slider-text {
        top: 0;
        width: 100%;
        padding: 0 10px;
    }
    .slider-text h1 {
        font-size: 50px;
        margin: 0;
        padding: 0;
    }
    .slider-shap-box h2 {
        font-size: 18px;
    }
    .slider-text p {
        padding: 5px 200px 5px 0;
        font-size: 14px;
    }
    .itg-button span {
        font-size: 14px;
    }
    .itg-button {
        margin: 0 10px 10px 0;
        padding: 8px 22px;
    }
    .slider-text {
        top: 4%;
    }
    .collection-box img {
        width: 100%;
    }
    .blog-news-box figcaption {
        bottom: 6%;
    }
    .foot-sec {
        margin-bottom: 30px;
    }
    .blog-news-box figcaption p {
        margin: 0;
    }
    .free-shipping {
        margin: 15px 0;
    }
    .newslatter-box {
        width: 100%;
        padding: 0 0 30px 0;
    }
    .newslatter-icon figure {
        margin-bottom: 30px;
    }
    .newslatter-box p,
    .newslatter-search-bar .search_bar {
        margin: 0;
    }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
    .collection-box img {
        width: 100%;
    }
    .language_bar,
    .my-account-bar {
        text-align: center;
        padding: 10px 0;
    }
    .my-account-bar .dropdown {
        float: none;
    }
    .navbar-header a.navbar-brand {
        padding: 30px 15px;
    }
    ul.nav.navbar-nav li a {
        padding: 10px 15px;
    }
    ul.drop-links {
        text-align: left;
    }
    .navbar-collapse {
        border: 0;
    }
    .navbar-header:after {
        border-bottom: 0px solid;
        border-right: 0px solid transparent;
        position: relative;
    }
    /*
==========================
 Slider text css
==========================
*/
    
    .slider-text {
        top: 15%;
        width: 100%;
        padding: 0 10px;
    }
    .slider-text h1 {
        font-size: 50px;
        margin: 0;
        padding: 0;
    }
    .slider-shap-box h2 {
        font-size: 22px;
    }
    .slider-shap-box:after {
        border-bottom: 56px solid;
    }
    .slider-text p {
        display: none;
    }
    .itg-button span {
        font-size: 14px;
    }
    .itg-button {
        margin: 0 10px 10px 0;
        padding: 8px 22px;
    }
    .heading-text-box p {
        display: none;
    }
    .featured-banner-caption h2 {
        font-size: 40px;
    }
    .featured-banner-caption h1 {
        font-size: 50px;
    }
    .featured-banner-caption {
        width: 60%;
    }
    .testimonial-banner-text {
        width: 80%;
    }
    .newslatter-box {
        width: 100%;
        padding: 0 0 30px 0;
    }
    .newslatter-icon figure {
        margin-bottom: 30px;
    }
    .newslatter-search-bar .search_bar {
        margin: 0;
    }
    .newslatter-box p {
        margin: 0;
    }
    .bottom-footer p {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .bottom-footer ul {
        float: left;
    }
    .bottom-footer ul li {
        margin-right: 10px;
        margin-left: 0;
    }
    .foot-sec {
        margin-bottom: 30px;
    }
    .free-shipping {
        margin: 15px 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .single-page h3 {
        font-size: 20px;
    }
    h3 {
        font-size: 23px;
    }
    .language_bar,
    .my-account-bar {
        text-align: center;
        padding: 10px 0;
    }
    .my-account-bar .dropdown {
        float: none;
    }
    .navbar-header a.navbar-brand {
        padding: 30px 15px;
    }
    ul.nav.navbar-nav li a {
        padding: 10px 15px;
    }
    .navbar-collapse {
        border: 0;
    }
    .navbar-header:after {
        border-bottom: 0px solid;
        border-right: 0px solid transparent;
        position: relative;
    }
    .slider-text {
        top: 10%;
        width: 100%;
        padding: 0 10px;
    }
    .slider-text h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .slider-shap-box h2 {
        font-size: 18px;
    }
    .slider-text p {
        display: none;
    }
    .itg-button span {
        font-size: 14px;
    }
    .itg-button {
        margin: 0 10px 10px 0;
        padding: 2px 20px;
    }
    .free-shipping-text-box {
        padding: 25px 5px 0 33px;
    }
    .free-shipping-text-box p {
        font-size: 15px;
    }
    .free-shipping-text-box h5 {
        font-size: 15px;
    }
    .free-shipping {
        margin: 10px 0;
    }
    .filter-box {
        padding-bottom: 20px;
    }
    .heading-text-box p {
        display: none;
    }
    .heading-text-box {
        padding: 0 0 0 40px;
    }
    .heading-icon-box {
        padding: 18px 10px;
    }
    .heading-icon-box:after {
        border-top: 64px solid;
    }
    .heading-text-box h3 {
        display: inline-block;
        font-size: 20px;
        padding-top: 15px;
    }
    .mixitup-btn a.filter {
        margin-right: 30px;
    }
    /*
==========================
 footer css
==========================
*/
    
    .foot-sec {
        margin: 20px 0;
    }
    .foot-sec {
        padding: 20px 10px;
    }
    /*
==========================
 Featured banner css
==========================
*/
    
    .featured-banner-caption {
        width: 80%;
    }
    .featured-banner-caption h2,
    .testimonial-banner-text h2 {
        font-size: 30px;
    }
    .featured-banner-caption h1,
    .testimonial-banner-text h1 {
        font-size: 40px;
    }
    .newslatter-box {
        padding: 10px 0;
        width: 100%;
    }
    .newslatter-box p {
        display: none;
    }
    .newslatter-search-bar .search_bar {
        margin: 0 0 30px 0;
    }
    .newslatter-heading h3 {
        margin: 30px 0 0 0;
        text-align: initial;
        font-size: 20px;
    }
    .blog-news-box figcaption {
        bottom: 20px;
    }
    .bottom-footer p {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .bottom-footer ul {
        float: left;
    }
    .bottom-footer ul li {
        margin-right: 7px;
        margin-left: 0;
    }
    .collection-box img {
        width: 100%;
    }
    .foot-sec {
        margin-bottom: 30px;
    }
    .free-shipping {
        margin: 15px 0;
    }
    .address-info span {
        font-size: 17px;
    }
    .small-marB20 {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 400px) {
    .very-small-hide {
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 369px) {
    .product-effect-grid:hover .product-effect figcaption {
        top: 162px;
        left: -5px;
    }
    .mini-cart {
        width: 320px;
        padding: 30px;
        right: -41px;
    }
}
@media screen and (min-width: 370px) and (max-width: 419px) {
    .product-effect-grid:hover .product-effect:after {
        top: -166px;
        left: 95px;
    }
    .product-effect:after {
        height: 700px;
        transform: rotate(-37deg);
    }
    .product-effect figcaption {
        transform: rotate(53deg);
    }
    .product-effect-grid:hover .product-effect figcaption {
        top: 197px;
        left: 0px;
        opacity: 1;
    }
    .mini-cart {
        width: 375px;
        padding: 30px;
        right: -55px;
    }
}
@media screen and (min-width: 420px) and (max-width: 480px) {
    .product-effect-grid:hover .product-effect:after {
        top: -63%;
        left: 95px;
    }
    .product-effect:after {
        height: 200%;
        transform: rotate(-37deg);
    }
    .product-effect figcaption {
        transform: rotate(53deg);
    }
    .product-effect-grid:hover .product-effect figcaption {
        top: 231px;
        left: -2px;
        opacity: 1;
    }
    .mini-cart {
        width: 425px;
        padding: 30px;
        right: -67px;
    }
}