
body {
	background: #FFF;
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: none !important;
}

/* BUSQUEDAS */

.busquedas-cover {
	position: fixed;
	background: transparent;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.busquedas {
	position: fixed;
	top: 60px;
	width: 340px;
	background: rgba(255,255,255,0.97);
	box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
	z-index: 12;
	display: none;
}

.busquedas-resultados {
	margin: 0;
	padding: 0;
	line-height: 25px !important;
}

.busquedas-resultados ul {
	list-style: none;
	margin: 15px 0 0;
	padding: 0;
}

.busquedas-resultados ul li {
	text-align: left;
	display: block;
	line-height: 30px;
	padding: 0 25px;
}

.busquedas-resultados>a {
	display: block;
	margin: 15px 0 5px;
}


/* Otros */

.precio-item {
	font-family: Lato;
	font-size: 50px;
}

.precio-item-no {
	font-size: 40px;
	font-weight: 300;
}

.precio-item-mini {
	font-size: 18px;
}

.item-detalle {
	font-family: Raleway !important;
	text-align: left;
}

.product-item-showing {
	background: #FFF;
	border: solid 1px #CCC;
	box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 50px 40px;
}

.item-box-mini {
	background: #FFF;
	border: solid 1px #EEE;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	border-radius: 5px;
	overflow: hidden;
}

.item-box-price-box {
	padding: 20px 0px 20px !important;
}

.item-box-price-box h4 {
	font-size: 15px;
}

.store-header-item {
	position: absolute;
	top: 0px;
	left: -10%;
	width: 120%;
	margin: 0 0 -50px !important;
	text-align: center;
	background-size: cover;
	height: 180px;
}

.store-header-title {
	display: inline-block;
	width: auto;
	margin: 0 auto;
}

.store-logo-item {
	width: 70px;
	margin-top: 30px;
	border: none;
}

.store-name-item {
	font-size: 19px;
	font-weight: 500;
	line-height: 34px;
	padding: 0 10px;
	margin-top: 38px;
	text-transform: none;
	margin-bottom: 0px;
}

.store-options-item {
	margin: -5px 0px 0;
	padding: 0px;
	line-height: 20px;
	color: #FFF;
	font-size: 14px;
	font-weight: 500;
}

.store-options-item a {
	display: inline-block;
	padding: 4px 10px;
	color: #FFF;
	margin: 0;
	text-decoration: none;
}

.store-options-item a:hover {
	text-decoration: underline;
}

.heart {
	padding: 11px 10px 9px;
	background: rgba(255,255,255,0.7);
	border-radius: 50%;
}

.heart-on{color: #E8004E;}
.heart-on:hover{color: #A90039}

.heart-off{color: #E8004E;}
.heart-off:hover{color: #A90039}

.like-button {
	position: absolute;
	top: 0px;
	right: 30px;
	font-size: 25px;
	z-index: 1;
}

.share-box {
	position: relative;
}

.share-box .arrow {
	position: absolute;
	top: 50px;
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	border: solid 1px #CCC;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	display: none;
}

.share-box ul {
	border: solid 1px #CCC;
	background: #FFF;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	position: absolute;
	top: 60px;
	left: -58px;
	padding: 4px 10px 0;
	width: 155px;
	display: none;
	z-index: 16;
}

.share-box ul li {
	display: inline-block;
	float: left;
	margin: 0px 10px;
}

.share-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: 15;
	display: none;
}

.bot-share:link,
.bot-share:active,
.bot-share:visited{color: #2E556A}
.bot-share:hover{color: #003049}

.share-fb {color: #3b5998;}
.share-fb:hover {color: #31497D;}

.share-tw {color: #00ACEE;}
.share-tw:hover {color: #008DC3;}

.share-pt {color: #C8232C;}
.share-pt:hover {color: #A41D25;}


/* Alerts */

#nalert,
#nconfirm,
#nlocation,
#nsession {
	display: none;
}

.newalert-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	text-align: center;
	background: rgba(0,0,0,0.6);
}

.newalert-box {
	width: 500px;
	height: auto;
	background: #FFF;
	border: solid 1px #CCC;
	padding: 0px;
	margin: 100px auto 0;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

.newalert-title {
	font-size: 13px;
	border-bottom: solid 1px #CCC;
	padding: 10px 0 4px;
}

.newalert-text {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	padding: 30px 30px 20px;
}

.newalert-buttons {
	padding: 0 0 30px;
}


/* Botones nuevos */

a.bot,
button.bot {
	padding: 5px 20px;
	font-size: 15px;
	outline: none;
	display: inline-block;
	border-radius: 4px;
	transition: all 300ms ease-in-out;
}

a.bot-gr,
button.bot-gr {
	padding: 10px 30px;
	font-size: 17px;
}

a.bot-ch,
button.bot-ch {
	padding: 3px 15px;
	font-size: 14px;
}

a.bot-primario,
button.bot-primario {
	background: #2E556A;
	border: solid 1px #2E556A;
	color: #FFF !important;
}

a.bot-primario:hover,
button.bot-primario:hover {
	background: #003049;
	border: solid 1px #003049;
}

a.bot-primario-soft,
button.bot-primario-soft {
	background: #FFF;
	border: solid 1px #2E556A;
	color: #2E556A;
}

a.bot-primario-soft:hover,
button.bot-primario-soft:hover {
	background: #2E556A;
	border: solid 1px #2E556A;
	color: #FFF;
}

a.bot-primario-link,
button.bot-primario-link {
	background: #FFF;
	color: #2E556A;
	border: dashed 1px #FFF;
}

a.bot-primario-link:hover,
button.bot-primario-link:hover {
	color: #003049;
	border: dashed 1px #2E556A;
}

a.bot-secundario,
button.bot-secundario {
	background: #E8004E;
	border: solid 1px #E8004E;
	color: #FFF;
}

a.bot-secundario:hover,
button.bot-secundario:hover {
	background: #A90039;
	border: solid 1px #A90039;
}

a.bot-secundario-soft,
button.bot-secundario-soft {
	background: #FFF;
	border: solid 1px #EA175E;
	color: #EA175E;
}

a.bot-secundario-soft:hover,
button.bot-secundario-soft:hover {
	background: #E8004E;
	border: solid 1px #E8004E;
	color: #FFF;
}

a.bot-secundario-link,
button.bot-secundario-link {
	background: #FFF;
	color: #E8004E;
	border: dashed 1px #FFF;
}

a.bot-secundario-link:hover,
button.bot-secundario-link:hover {
	color: #A90039;
	border: dashed 1px #E8004E;
}

a.bot-terciario,
button.bot-terciario {
	background: #F8962E;
	border: solid 1px #F8962E;
	color: #FFF;
}

a.bot-terciario:hover,
button.bot-terciario:hover {
	background: #E17400;
	border: solid 1px #E17400;
}

a.bot-terciario-soft,
button.bot-terciario-soft {
	background: #FFF;
	border: solid 1px #F8962E;
	color: #F8962E;
}

a.bot-terciario-soft:hover,
button.bot-terciario-soft:hover {
	background: #F8962E;
	border: solid 1px #F8962E;
	color: #FFF;
}

a.bot-terciario-link,
button.bot-terciario-link {
	background: #FFF;
	color: #F8962E;
	border: dashed 1px #FFF;
}

a.bot-terciario-link:hover,
button.bot-terciario-link:hover {
	color: #E17400;
	border: dashed 1px #F8962E;
}