/*
==========================
1. Fonts
==========================
*/




@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900|Lato:300,400');





/*
==========================
2. Body
==========================
*/
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #777;
    line-height: 1.8em;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    overflow-x: hidden;
}
/*
==========================
3. Common Css
==========================
*/

/* 3.1 Reset Style */
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    -webkit-transition: color 300ms ease-in-out,background 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out,background 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out,background 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out,background 300ms ease-in-out;
    transition: color 300ms ease-in-out,background 300ms ease-in-out;
}
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
p,
em {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: 600;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-transform: none;
}
.small-text-center {
    text-align: center;
}
section {
    position: relative;
    width: 100%;
    float: left;
}
.positionR {
    position: relative;
}
.positionS {
    position: static;
}
.positionA {
    position: absolute;
}
.bagB {
    background: black;
}
.bagW {
    background: white;
}
.border-box {
    border: 1px solid lightgray;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li a {
    display: inline-block;
}
ul li {
    font-size: 16px;
}
span {
    font-size: 16px;
    font-size: inherit;
}
.clear {
    clear: both;
}
.grey-bg {
    background: #f5f6f0;
    color: #000;
}
.color-gray {
    color: #777;
}


/* 3.2 Form Inputs */

input[type=text],
input[type=email],
input[type=date],
input[type=tel],
input[type=phone],
input[type=search],
input[type=password],
input[type=number],
input[type=time],
input[type=file],
select {
    padding: 0 20px;
    border: 0;
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    height: 40px;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
}
textarea {
    padding: 0 20px;
    border: 0;
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    outline: none;
    font-size: 14px;
    border-radius: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=tel]:focus,
input[type=phone]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=file]:focus,
select:focus {
    padding: 0 20px;
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    outline: none;
}
textarea:focus {
    padding: 0 20px;
    display: inline-block;
    width: 100%;
    outline: none;
    font-size: 14px;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
}
input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}
.box-check:before {
    display: block;
    position: absolute;
    content: "\f00c";
    border-radius: 0;
    top: 0;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    font: normal normal normal 11px/1 FontAwesome;
    opacity: 0;
}
.box-check {
    display: block;
    position: absolute;
    border: 2px solid;
    border-radius: 0;
    height: 15px;
    width: 15px;
    top: 17px;
    margin-top: -10px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.check {
    border: 5px solid #FFFFFF;
}
.check::before {
    display: block;
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    top: 4px;
    left: 4px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    visibility: hidden;
}
.check {
    display: block;
    position: absolute;
    border: 2px solid;
    height: 20px;
    width: 20px;
    top: 50%;
    margin-top: -10px;
    left: 15px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
input[type=radio]:checked ~ .check::before {
    visibility: visible;
}
input[type=radio]:checked ~ label {
    #color: #2e2e2e;
}
input[type=checkbox]:checked ~ .box-check {
    border: 2px solid;
}
input[type=checkbox]:checked ~ label {
    #color: #2e2e2e;
}
input[type=checkbox]:checked ~ .box-check:before {
    opacity: 1;
}
ul.list label.radio-label,
label.radio-label {
    display: block;
    position: relative;
    font-size: 16px;
    padding: 5px 0px 0px 15px;
    margin: 0 auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    text-transform: none;
}
label {
    display: inline-block;
    font-weight: 400;
    margin: 0 0 5px 0px;
    color: #777;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #777;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
    color: #777;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #777;
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
    color: #777;
}

/* 3.3 Button Style */
.itg-button {
    margin: 0 20px 20px 0;
    padding: 5px 30px;
    background: #f5f6f0;
    border: 0;
    color: #000;
    position: relative;
    outline: none;
    display: inline-block;
    text-transform: none;
}
.itg-button span {
    font-size: 16px;
}

.itg-button span {
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
    position: relative;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.itg-button:after {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #777;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.itg-button:hover:after {
    height: 100%;
    color: #fff;
    z-index: 1;
}
.itg-button:hover span {
    color: #fff;
}

.itg-button:focus:after {
    height: 100%;
    color: #fff;
    z-index: 1;
}
.itg-button:focus span {
    color: #fff;
}

/* 3.4 Padding Style */

.pad0 {
    padding: 0px;
}
.pad5 {
    padding: 5px;
}
.pad10 {
    padding: 10px;
}
.pad15 {
    padding: 15px;
}
.pad20 {
    padding: 20px;
}
.pad30 {
    padding: 30px;
}
.pad40 {
    padding: 40px;
}
.pad50 {
    padding: 50px;
}
.pad60 {
    padding: 60px;
}
.pad70 {
    padding: 70px;
}
.pad80 {
    padding: 80px;
}
.pad90 {
    padding: 90px;
}
.pad100 {
    padding: 100px;
}

.padTB0 {
    padding: 0px 0;
}
.padTB5 {
    padding: 5px 0;
}
.padTB10 {
    padding: 10px 0;
}
.padTB15 {
    padding: 15px 0;
}
.padTB20 {
    padding: 20px 0;
}
.padTB30 {
    padding: 30px 0;
}
.padTB40 {
    padding: 40px 0;
}
.padTB50 {
    padding: 50px 0;
}
.padTB60 {
    padding: 60px 0;
}
.padTB70 {
    padding: 70px 0;
}
.padTB80 {
    padding: 80px 0;
}
.padTB90 {
    padding: 90px 0;
}
.padTB100 {
    padding: 100px 0;
}

.padT0 {
    padding-top: 0px;
}
.padT5 {
    padding-top: 5px;
}
.padT10 {
    padding-top: 10px;
}
.padT15 {
    padding-top: 15px;
}
.padT20 {
    padding-top: 20px;
}
.padT30 {
    padding-top: 30px;
}
.padT40 {
    padding-top: 40px;
}
.padT50 {
    padding-top: 50px;
}
.padT60 {
    padding-top: 60px;
}
.padT70 {
    padding-top: 70px;
}
.padT80 {
    padding-top: 80px;
}
.padT90 {
    padding-top: 90px;
}
.padT100 {
    padding-top: 100px;
}

.padB0 {
    padding-bottom: 0px;
}
.padB5 {
    padding-bottom: 5px;
}
.padB10 {
    padding-bottom: 10px;
}
.padB20 {
    padding-bottom: 20px;
}
.padB30 {
    padding-bottom: 30px;
}
.padB40 {
    padding-bottom: 40px;
}
.padB50 {
    padding-bottom: 50px;
}
.padB60 {
    padding-bottom: 60px;
}
.padB70 {
    padding-bottom: 70px;
}
.padB80 {
    padding-bottom: 80px;
}
.padB90 {
    padding-bottom: 90px;
}
.padB100 {
    padding-bottom: 100px;
}

.padL0 {
    padding-left: 0px;
}
.padL5 {
    padding-left: 5px;
}
.padL10 {
    padding-left: 10px;
}
.padL20 {
    padding-left: 20px;
}
.padL30 {
    padding-left: 30px;
}
.padL40 {
    padding-left: 40px;
}
.padL50 {
    padding-left: 50px;
}
.padL60 {
    padding-left: 60px;
}
.padL70 {
    padding-left: 70px;
}
.padL80 {
    padding-left: 80px;
}
.padL90 {
    padding-left: 90px;
}
.padL100 {
    padding-left: 100px;
}

.padLR0 {
    padding-left: 0px;
}
.padLR5 {
    padding-left: 5px;
}
.padLR10 {
    padding-left: 10px;
}
.padLR20 {
    padding-left: 20px;
}
.padLR30 {
    padding-left: 30px;
}
.padLR40 {
    padding-left: 40px;
}
.padLR50 {
    padding-left: 50px;
}
.padLR60 {
    padding-left: 60px;
}
.padLR70 {
    padding-left: 70px;
}
.padLR80 {
    padding-left: 80px;
}
.padLR90 {
    padding-left: 90px;
}
.padLR100 {
    padding-left: 100px;
}

.padR0 {
    padding-right: 0px;
}
.padR5 {
    padding-right: 5px;
}
.padR10 {
    padding-right: 10px;
}
.padR20 {
    padding-right: 20px;
}
.padR30 {
    padding-right: 30px;
}
.padR40 {
    padding-right: 40px;
}
.padR50 {
    padding-right: 50px;
}
.padR60 {
    padding-right: 60px;
}
.padR70 {
    padding-right: 70px;
}
.padR80 {
    padding-right: 80px;
}
.padR90 {
    padding-right: 90px;
}
.padR100 {
    padding-right: 100px;
}

/* 3.5 Margin Style */
.mar0 {
    margin: 0px;
}
.mar5 {
    margin: 5px;
}
.mar10 {
    margin: 10px;
}
.mar15 {
    margin: 15px;
}
.mar20 {
    margin: 20px;
}
.mar30 {
    margin: 30px;
}
.mar40 {
    margin: 40px;
}
.mar50 {
    margin: 50px;
}
.mar60 {
    margin: 60px;
}
.mar70 {
    margin: 70px;
}
.mar80 {
    margin: 80px;
}
.mar90 {
    margin: 90px;
}
.mar100 {
    margin: 100px;
}

.marT0 {
    margin-top: 0px;
}
.marT5 {
    margin-top: 5px;
}
.marT10 {
    margin-top: 10px;
}
.marT15 {
    margin-top: 15px;
}
.marT20 {
    margin-top: 20px;
}
.marT30 {
    margin-top: 30px;
}
.marT40 {
    margin-top: 40px;
}
.marT50 {
    margin-top: 50px;
}
.marT60 {
    margin-top: 60px;
}
.marT70 {
    margin-top: 70px;
}
.marT80 {
    margin-top: 80px;
}
.marT90 {
    margin-top: 90px;
}
.marT100 {
    margin-top: 100px;
}

.marB0 {
    margin-bottom: 0px;
}
.marB5 {
    margin-bottom: 5px;
}
.marB10 {
    margin-bottom: 10px;
}
.marB20 {
    margin-bottom: 20px;
}
.marB30 {
    margin-bottom: 30px;
}
.marB40 {
    margin-bottom: 40px;
}
.marB50 {
    margin-bottom: 50px;
}
.marB60 {
    margin-bottom: 60px;
}
.marB70 {
    margin-bottom: 70px;
}
.marB80 {
    margin-bottom: 80px;
}
.marB90 {
    margin-bottom: 90px;
}
.marB100 {
    margin-bottom: 100px;
}

.marL0 {
    margin-left: 0px;
}
.marL5 {
    margin-left: 5px;
}
.marL10 {
    margin-left: 10px;
}
.marL20 {
    margin-left: 20px;
}
.marL30 {
    margin-left: 30px;
}
.marL40 {
    margin-left: 40px;
}
.marL50 {
    margin-left: 50px;
}
.marL60 {
    margin-left: 60px;
}
.marL70 {
    margin-left: 70px;
}
.marL80 {
    margin-left: 80px;
}
.marL90 {
    margin-left: 90px;
}
.marL100 {
    margin-left: 100px;
}

.marR0 {
    margin-right: 0px;
}
.marR5 {
    margin-right: 5px;
}
.marR10 {
    margin-right: 10px;
}
.marR20 {
    margin-right: 20px;
}
.marR30 {
    margin-right: 30px;
}
.marR40 {
    margin-right: 40px;
}
.marR50 {
    margin-right: 50px;
}
.marR60 {
    margin-right: 60px;
}
.marR70 {
    margin-right: 70px;
}
.marR80 {
    margin-right: 80px;
}
.marR90 {
    margin-right: 90px;
}
.marR100 {
    margin-right: 100px;
}
/*
==========================
4. Header Style
==========================
*/

/* 4.1 Top Header */
.top-header {
    font-size: 14px;
}
.top-header .dropdown a:visited {
    color: #777;
}
.language-box p {
    color: #000;
    margin: 0;
}
.language-box p a {
    color: #777;
}
.language-box span {
    padding: 0 10px;
}
li.sub-nav-drop i {
    float: right;
}
.my-account_bar_box {
    float: right;
}
.language_bar {
    float: left;
    display: inline-block;
    margin-right: 50px;
}
.my-account-bar {
    float: left;
    display: inline-block;
    margin-left: 48px;
    padding-top: 3px;
}
.top-header .dropdown {
    display: inline-block;
    position: relative;
}
.top-header .dropdown a {
    font-size: 13px;
}
.top-header .drop-links li a:hover {
    color: #fff;
}
.top-header .drop-links {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background: #e8e7e7;
    width: 150px;
    visibility: hidden;
    z-index: 9;
}
.top-header .dropdown:hover .drop-links {
    opacity: 1;
    top: 100%;
    visibility: visible;
    background-color: #fff;
}
.my-account-pad {
    margin-top: 2px;
}
.top-header .drop-links li a {
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
.search_bar {
    width: 100%;
    float: left;
    position: relative;
}
.search_bar button {
    position: absolute;
    width: 60px;
    background: #e8e7e7;
    border: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 16px;
    color: #777;
}
.my-account-bar .dropdown {
    float: right;
}
span.cart-circle {
    width: 35px;
    display: inline-block;
    height: 35px;
    background: #e8e7e7;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
}
.top-header .cart-circle i {
    margin: 10px 0 0 0;
}
.cart-hover:hover {
    color: #fff;
}
span.cart-circle,
span.cart-circle i,
.search_bar button,
.search_bar button i {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
a.cart-hover:hover span.cart-circle i,
.search_bar button:hover i {
    color: #fff;
}
.language-box {
    padding: 6px 0 0 0;
}

/* 4.2 Navigation Bar */

nav.navbar {
    border: 0px;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 2px solid;
}
.dropdown-menu .collection-box figcaption {
    top: 30%;
}
ul.nav.navbar-nav li ul.dropdown-menu .collection-box a:hover {
    background-color: transparent;
}
ul.nav.navbar-nav li ul.dropdown-menu .collection-box a {
    color: #fff;
}
.navbar-header a.navbar-brand {
    padding: 40px 15px;
    display: inline-table;
}
ul.nav.navbar-nav li a {
    padding: 41.5px 12px;
    font-size: 14px;
}
.navbar .navbar-header a.navbar-brand {
    margin-left: 0px;
}
ul.nav.navbar-nav i.fa.fa-angle-down,
ul.nav.navbar-nav i.fa.fa-angle-right {
    margin-left: 10px;
    float: right;
    margin-top: 3px;
}
ul.nav.navbar-nav .dropdown-menu li a {
    padding: 10px 15px;
}

.navbar-header {
    position: relative;
    z-index: 1;
}
.navbar-nav li ul.dropdown-menu {
    margin-top: 2px;
    background: #000;
    border: 0px;
    border-radius: 0;
    padding: 0;
    border-top: 2px solid;
}
.navbar-nav li.mega-menu ul.dropdown-menu {
    border: 0;
}
.mega-dropdown-menu li {
    padding: 0px;
}
.mega-dropdown-menu .dropdown-header {
    padding: 10px 15px;
}
.navbar-header:after {
    width: 0;
    height: 0;
    border-bottom: 103px solid;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    right: -39px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
ul.nav.navbar-nav li ul.dropdown-menu a:hover {
    color: #fff;
}
.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}
ul#sub-nav {
    display: block;
    position: absolute;
}
ul#sub-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
    /*-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;*/
    visibility: hidden;
}
li.sub-nav-drop {
    position: relative;
}
li.sub-nav-drop:hover #sub-nav {
    opacity: 1;
    top: 0;
    visibility: visible;
}
.navbar.navbar-bg-dark {
    box-shadow: none;
}
ul#sub-nav li a {
    color: #999;
}
ul#sub-nav li a:hover {
    color: #fff;
}
.dropdown-menu.mega-dropdown-menu {
    display: block;
    opacity: 0;
    /*
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;*/
    visibility: hidden;
}
li.dropdown.mega-dropdown.mega-dropdown-btn:hover .dropdown-menu,
li.dropdown.mega-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* 4.3 Minicart */
.mini-cart {
    border-top: 2px solid;
    z-index: 1;
    width: 400px;
    background: #fff;
    padding: 30px;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;/*
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;*/
}
.cart-hover:hover .mini-cart {
    display: inline-block;
}

.dropdown:hover .mini-cart {
    opacity: 1;
    visibility: visible;
    z-index: 9;
}
.mini-cart-img {
    width: 25%;
    float: left;
}
.mini-cart-img img {
    width: 100%;
}
.mini-cart-price {
    width: 60%;
    float: left;
    padding-left: 10px;
    text-align: left;
}
.mini-cart-cancle {
    width: 15%;
    float: left;
    padding-left: 10px;
    text-align: right;
}
.mini-cart-price p {
    margin: 0;
}
.mini-cart-product-box {
    width: 100%;
    float: left;
    border-bottom: 1px solid #f5f6f0;
}
.bold-heading {
    color: #000;
    font-weight: 600;
}
.mini-cart-total-box p span {
    margin-left: 10px;
}

/*
===================================
5. Main Slider
===================================
*/

.slider-text {
    top: 130px;
    width: 50%;
}
.slider-text h1 {
    font-size: 70px;
    margin: 0;
    padding: 0 0 10px 0;
    color: #fff;
}
.slider-shap-box h2 {
    font-size: 35px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: 300;
    display: inline-block;
}
.slider-shap-box {
    position: relative;
    padding: 10px 30px;
    width: 60%;
}
.slider-text h1 {
    font-size: 70px;
    margin: 0;
    padding: 0;
}
.slider-text {
    top: 0;
    width: 50%;
}
.slider-shap-box:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 76px solid;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    right: -39px;
}
.slider-text p {
    color: #fff;
    padding: 20px 0;
}

div#main-slider .owl-nav .owl-prev:hover,
div#main-slider .owl-nav .owl-next:hover {
    color: #fff;
}
div#main-slider .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -23.5px;
}
div#main-slider .owl-nav .owl-prev {
    float: left;
    width: 35px;
    height: 30px;
    background: #f5f6f0;
    display: inline-block;
    color: #777;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    padding: 0;
    border-radius: 0;
    margin-left: 30px;
}
div#main-slider .owl-nav .owl-next {
    float: right;
    width: 35px;
    height: 30px;
    background: #f5f6f0;
    display: inline-block;
    color: #777;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    padding: 0;
    border-radius: 0;
    margin-right: 30px;
}

/*
===================================
6. Heading Style
===================================
*/
.heading-section {
    border-bottom: 1px solid;
    width: 100%;
    float: left;
}
.heading-icon-box {
    color: #fff;
    font-size: 24px;
    padding: 25px 10px;
    text-align: center;
}
.heading-icon-box:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 78px solid;
    border-left: 40px solid transparent;
    position: absolute;
    top: 0;
    right: -39px;
}
.heading-text-box {
    padding: 9px 60px;
    display: inline-block;
}
.heading-text-box p {
    margin: 0;
    padding: 0;
}
.heading-text-box h3 {
    color: #000;
    line-height: 1.2em;
}

/*
==========================
7. Shape Style
==========================
*/
.right-pink-shape {
    width: 100%;
    float: left;
    position: relative;
}
.right-pink-shape:before {
    content: "";
    width: 101%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -100%;
}

/*
===================================
8. Filter Style
===================================
*/

.filter-section {
    width: 100%;
    float: left;
}
.filter-section.dark {
    background-color: #f5f6f0;
}
.filter-section.dark select {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #fff;
    color: #000;
}
.filter-section.dark label {
    color: #000;
}

.filter-section button {
    background: #fff;
    border: 0;
    width: 100%;
    height: 40px;
    color: #000;
    margin: 32.5px 0 0 0;
    font-size: 16px;
}
.filter-section label {
    color: #fff;
    font-size: 16px;
}
.filter-section select {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.filter-section select option {
    color: #000;
}

/*
===================================
9. Collection Style
===================================
*/

.collection-box {
    width: 100%;
    float: left;
}
.collection-box .detail-box a:hover {
    color: #fff;
}
.collection-box figure {
    position: relative;
}
.collection-box figcaption {
    position: absolute;
    top: 37%;
    width: 100%;
    text-align: center;
    z-index: 9;
}
.collection-box .detail-box {
    display: inline-block;
    max-width: 150px;
}
.collection-box .detail-box h3 {
    text-transform: uppercase;
    color: #fff;
    line-height: 1.4em;
}
.collection-box .detail-box p {
    text-transform: uppercase;
    color: #fff;
}

/*
===================================
10. Services Style
===================================
*/

.services {
    background-image: url(../img/all/background.jpg);
}
.services:before {
    background: #f5f6f0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
}
.free-shipping-icon-box {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: center;
    z-index: 9;
}
.free-shipping {
    background: White;
    display: inline-block;
    width: 100%;
    float: left;
}
.free-shipping:after {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #777;
    position: absolute;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}
.free-shipping-text-box {
    width: 75%;
    float: left;
    display: inline-block;
}
.free-shipping-icon-box i {
    padding: 40px 0;
    color: #fff;
    font-size: 22px;
}
.free-shipping-text-box h5 {
    color: #000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}
.free-shipping-text-box p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.free-shipping-text-box {
    padding: 24px 60px 0;
}
.free-shipping-icon-box:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 102px solid;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    right: -39px;
}

/*
===================================
11. Banner Style
===================================
*/

.featured-banner {
    position: relative;
}
.special-style {
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    background-size: cover !important;
    width: 100%;
    z-index: 0;
}
.special-style-full {
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    background-size: cover;
    width: 100%;
    z-index: 0;
}
.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
}
.parallax-style {
    background-attachment: fixed;
}
.featured-banner-caption {
    position: relative;
    padding: 100px 0;
    width: 50%;
    margin: 0 auto;
}
.featured-banner-caption h1 {
    color: #fff;
    font-size: 65px;
    line-height: 1.2em;
}
.featured-banner-caption h2 {
    color: #fff;
    line-height: 1.2em;
    font-size: 50px;
    font-weight: 100;
    margin: 0 0 20px 0;
}
/*
===================================
12. Product Style
===================================
*/
.product-grid {
    width: 100%;
    float: left;
}
.product-item {
    float: left;
}
.product-list-item {
    width: 100%;
    float: left;
}
.product-list-item .caption.price-box {
    padding: 0;
    text-align: left;
}
.product-list-item .caption.price-box p {
    padding: 10px 0;
}
.product-list-item .list-icon {
    padding: 15px 0;
}
.product-list-item .list-icon a span:hover {
    color: #fff;
}
.product-list-item .list-icon a span {
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #f5f6f0;
    margin-right: 10px;
    text-align: center;
    padding-top: 3px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.product-item .price-box {
    width: 100%;
    text-align: center;
    padding: 30px 0px 0;
}
.product-item .price-box p {
    margin: 0;
    padding: 0 0;
}
.product-item .price-box h4 {
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.product-item .price-box h4.preline {
    white-space: pre-line;
    line-height: 1.3em;
}

.product-item .price-box h3.color-gray {
    font-size: 18px;
}
.product-effect {
    position: relative;
    overflow: hidden;
}
.product-effect:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 1;
}
.product-effect:after {
    content: "";
    width: 100px;
    height: 500px;
    position: absolute;
    top: -454px;
    left: 359px;
    transform: rotate(-35deg);
    visibility: visible;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 2;
}
.product-effect-grid:hover .product-effect:before {
    opacity: 0.5;
    visibility: visible;
}
.product-effect-grid:hover .product-effect:after {
    opacity: 0.6;
    visibility: visible;
    top: -72px;
    left: 86px;
}
.product-effect-grid:hover .sticker {
    opacity: 0;
}
.product-item .price-box h4:hover {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.product-effect-grid {
    #cursor: pointer;
}
.product-effect figcaption {
    position: absolute;
    font-size: 30px;
    width: 100%;
    text-align: center;
    transform: rotate(54deg);
    top: 188px;
    left: -23px;
    z-index: 9;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
}
.product-effect span {
    width: 35px;
    display: inline-block;
    height: 35px;
    background: #f5f6f0;
    border-radius: 100%;
    margin: 0 3px;
    text-align: center;
    font-size: 14px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.product-effect span i {
    margin: 10px 0 0 0;
    display: inline-block;
    transform: rotate(-54deg);
}
.product-effect span a {
    color: #000;
}
.product-effect-grid:hover .product-effect figcaption {
    top: 151px;
    left: 3px;
    opacity: 1;
}
.product-effect span:hover a {
    color: #fff;
}
.product-effect:hover img {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.product-effect img {
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}
ul.wa-icons {
    padding: 0;
    display: none;
}
ul.wa-icons li {
    display: inline-block;
    margin: 0px 7px;
    text-align: center;
}
ul.wa-icons li a {
    height: 35px;
    float: left;
    font-size: 14px;
    position: relative;
    padding-top: 3px;
    width: 35px;
    border-radius: 50%;
    color: #000;
    /*transform: rotate(-54deg);*/
    background-color: #fff;
}
ul.wa-icons li a:hover {
    color: #fff;
}
ul.wa-icons li a i {
    position: relative;
    display: inline-block;
    margin-right: 0px;
}
.figure-caption {
    position: absolute;
   /* left: 125%;
    bottom: 100%;
    width: 200%;
    height: 100px;
    margin-left: -50%;*/
    opacity: 1;
    /*transform: rotate(54deg);*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}
.figure-caption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
figure {
    margin: 0;
    position: relative;
    float: left;
    width: 100%;
}
.figure-caption .wa-icons {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.figure-caption h3 {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    bottom: 50px;
    width: 100%;
    padding: 40px 15px;
}
.theme-hover-effect:hover .figure-caption {
    left: 0;
    bottom: 35%;
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.theme-hover-effect figure {
    overflow: hidden
}
.theme-hover-effect ul.wa-icons {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -18px;
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.theme-hover-effect:hover .figure-caption ul.wa-icons {
    opacity: 1;
}
.theme-hover-effect img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}
.theme-hover-effect figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.theme-hover-effect:hover figure:before {
    opacity: 0.4;
}
.theme-hover-effect:hover img {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.product-item.theme-hover-effect .price-box {
    float: left;
}
/*
===================================
13. Sticker Style
===================================
*/
.sticker-box {
    position: relative;
    overflow: hidden;
}
.sticker {
    width: 100px;
    text-align: center;
    color: #fff;
    padding: 15px 25px;
    position: absolute;
    top: 52%;
    left: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 2;
}
.sticker p {
    padding: 0;
    margin: 0;
}
.sticker:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 55px solid;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    right: -39px;
}
.sticker:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 16px solid;
    border-left: 15px solid transparent;
    position: absolute;
    top: -16px;
    left: 0px;
}
/*
===================================
14. Testimonial Style
===================================
*/

.testimonial-banner {
    position: relative;
}
.testimonial-banner-text h1 {
    color: #fff;
    font-size: 70px;
    line-height: 1.2em;
}
.testimonial-banner-text h2 {
    color: #fff;
    line-height: 1.2em;
    font-size: 60px;
    font-weight: 100;
    margin: 0 0 20px 0;
}
.testimonial-banner-text {
    padding: 130px 0;
    width: 90%;
    margin: 0 auto;
}
.testimonial-banner-img:before {
    content: "";
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.7;
}
.client-feedback h3 {
    margin-top: 10px;
}
.testimonial-slider {
    width: 100%;
    float: left;
    background-color: #F5F6F0;
}
.client-feedback blockquote {
    border: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.7em;
    margin: 0;
}
.client-feedback  figure{
	width: 120px;
    height:120px;
    margin: 0 auto;
    float: none;
}
/*
===================================
15. Home Blog
===================================
*/
.blog-news-box {
    float: left;
    width: 100%;
    position: relative;
}
.blog-news-box figcaption {
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: #fff;
    width: 100%;
    z-index: 9;
    padding: 5px 20px;
}
.blog-news-box:after {
    content: "";
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}
.blog-news-box img {
    width: 100%;
}
.blog-news-box figcaption p {
    line-height: 1.2em;
    margin: 8px 0;
    text-align: left;
}
.blog-news-box h3 {
    color: #fff;
}
.blog-slider-section h3 {
    color: #fff;
}

/*
===================================
16. Partners Style
===================================
*/

.parteners-logo {
    cursor: pointer;
    float: left;
    width: 100%;
    border: 1px solid #E8E7E7;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.partener-slides .owl-stage-outer {
    padding: 1px 0;
}
/*
===================================
17. Newsletter Area
===================================
*/

.newslatter-main-box {
    width: 100%;
    float: left;
}
.newslatter-icon figure {
    text-align: center;
    padding: 25px 0;
}
.newslatter-icon figure:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 113px solid;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    right: -40px;
}
.newslatter-box {
    width: 50%;
    float: left;
    padding: 27px 60px;
}
.newslatter-box p {
    margin: 0;
}
.newslatter-heading h3 {
    line-height: 1.4em;
    color: #000;
}
.newslatter-search-bar .search_bar {
    margin: 12px 0 0 0;
}
.newslatter-search-bar .search_bar button {
    background-color: transparent;
}
.newslatter-search-bar .search_bar button:hover {
    background-color: transparent;
}
/*
===================================
18. Page Header
===================================
*/

.bredcrumb-section {
    background-image: url(../img/background/bredcrumb-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bredcrumb-section h3 {
    font-weight: 500;
}
.bredcrumb-section:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.breadcrumb li.active {
    font-size: 16px;
}
.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #fff;
}
.breadcrumb li.active:before {
    color: #fff;
}
.breadcrumb li a:hover {
    color: #fff;
}
/*
===================================
19. Error Page
===================================
*/

.block-detail-head p {
    color: #fff;
}
.special-style-dark:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}

/*
===================================
20. Sidebar Style
===================================
*/
.sidebar {
    color: #000;
}
ul.list li {
    list-style: none;
    margin-bottom: 5px;
    position: relative;
}
.red-checkbox,
.silver-checkbox,
.pink-checkbox,
.yellow-checkbox {
    display: block;
    position: absolute;
    border-radius: 3px;
    height: 15px;
    width: 15px;
    top: 17px;
    margin-top: -10px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
ul.list label {
    position: relative;
    font-size: 16px;
    padding: 0px 0px 0px 25px;
    margin: 0 auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    text-transform: none;
}
ul.list li a {
    display: block;
    color: #777;
}
.red-checkbox {
    background-color: #e1543f;
}
.pink-checkbox {
    background-color: #f53c7f;
}
.yellow-checkbox {
    background-color: #fdfa8f;
}
.silver-checkbox {
    background-color: #eeeeee;
}
.sidebar input[type=checkbox],
.sidebar input[type=radio] {
    position: relative;
    visibility: visible;
}
.red-checkbox input[type=checkbox],
.sidebar input[type=radio],
.yellow-checkbox input[type=checkbox],
.sidebar input[type=radio],
.pink-checkbox input[type=checkbox],
.sidebarinput[type=radio],
.silver-checkbox input[type=checkbox],
.sidebar input[type=radio] {
    position: relative;
    visibility: visible;
}
.sidebar h3 {
    margin-bottom: 15px;
}

ul.list li a {} .sidebar .collection-box .detail-box p {
    font-size: 12px;
}
.sidebar .collection-box .detail-box span {
    font-size: 33px;
    font-weight: 100;
}
.sidebar ul.list label.radio-label,
label.radio-label {
    display: inline;
}
.sidebar .box-check {
    border: 0;
}
/*
===================================
21. Comment Area
===================================
*/
.comment-box figure {
    width: 80px;
    height: 80px;
    margin: 0 auto;
	float: none;
}
/*
===================================
22. Owl Carousel Style
===================================
*/

.owl-nav span {
    padding: 3px 0 0 0;
    display: inline-block;
    font-size: 17px;
}
.carousel-style-1 .owl-nav {
    width: 90px;
    height: 30px;
    position: absolute;
    top: -85px;
    right: 15px;
}
.carousel-style-1 .owl-nav .owl-prev,
.carousel-style-1 .owl-nav .owl-next {
    width: 35px;
    height: 30px;
    background: #f5f6f0;
    display: inline-block;
    color: #777;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 10px;
    text-align: center;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    padding: 0;
    border-radius: 0;
}
.carousel-style-1 .owl-nav .owl-prev:hover,
.carousel-style-1 .owl-nav .owl-next:hover {
    color: #fff;
}
/*
===================================
23. Pagination Style
===================================
*/
.pagination-box span {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    margin: 0 5px;
    background-color: #f5f6f0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.pagination-box span:hover {
    color: #fff;
}

/*
===================================
24. Tabs Style
===================================
*/

div.tab {
    overflow: hidden;
}
div.tab button {
    padding: 10px 30px;
    background: #f5f6f0;
    border: 0;
    color: #000;
    position: relative;
    font-size: 16px;
}
div.tab button:hover {
    background-color: #f5f6f0;
}
div.tab button.active span {
    color: #fff;
    font-size: 16px;
}
div.tab button.active {
    outline: none;
}
.tabcontent {
    display: none;
    padding-top: 30px;
}
.tabcontent input[type="text"] {
    margin: 0 0 30px;
}
/*
==========================
25. Preloader Style
==========================
*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}
.preloader.loaderout {
    top: -100%;
    -webkit-transition: all 0.80s ease-in-out;
    -moz-transition: all 0.80s ease-in-out;
    -o-transition: all 0.80s ease-in-out;
    -ms-transition: all 0.80s ease-in-out;
    transition: all 0.80s ease-in-out;
}
.cssload-container {
    display: block;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -14px;
}
.cssload-loading i {
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 50%;
}
.cssload-loading i:first-child {
    opacity: 0;
    animation: cssload-loading-ani2 0.58s linear infinite;
    -o-animation: cssload-loading-ani2 0.58s linear infinite;
    -ms-animation: cssload-loading-ani2 0.58s linear infinite;
    -webkit-animation: cssload-loading-ani2 0.58s linear infinite;
    -moz-animation: cssload-loading-ani2 0.58s linear infinite;
    transform: translate(-19px);
    -o-transform: translate(-19px);
    -ms-transform: translate(-19px);
    -webkit-transform: translate(-19px);
    -moz-transform: translate(-19px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3) {
    animation: cssload-loading-ani3 0.58s linear infinite;
    -o-animation: cssload-loading-ani3 0.58s linear infinite;
    -ms-animation: cssload-loading-ani3 0.58s linear infinite;
    -webkit-animation: cssload-loading-ani3 0.58s linear infinite;
    -moz-animation: cssload-loading-ani3 0.58s linear infinite;
}
.cssload-loading i:last-child {
    animation: cssload-loading-ani1 0.58s linear infinite;
    -o-animation: cssload-loading-ani1 0.58s linear infinite;
    -ms-animation: cssload-loading-ani1 0.58s linear infinite;
    -webkit-animation: cssload-loading-ani1 0.58s linear infinite;
    -moz-animation: cssload-loading-ani1 0.58s linear infinite;
}
@keyframes cssload-loading-ani1 {
    100% {
        transform: translate(39px);
        opacity: 0;
    }
}
@-o-keyframes cssload-loading-ani1 {
    100% {
        -o-transform: translate(39px);
        opacity: 0;
    }
}
@-ms-keyframes cssload-loading-ani1 {
    100% {
        -ms-transform: translate(39px);
        opacity: 0;
    }
}
@-webkit-keyframes cssload-loading-ani1 {
    100% {
        -webkit-transform: translate(39px);
        opacity: 0;
    }
}
@-moz-keyframes cssload-loading-ani1 {
    100% {
        -moz-transform: translate(39px);
        opacity: 0;
    }
}
@keyframes cssload-loading-ani2 {
    100% {
        transform: translate(19px);
        opacity: 1;
    }
}
@-o-keyframes cssload-loading-ani2 {
    100% {
        -o-transform: translate(19px);
        opacity: 1;
    }
}
@-ms-keyframes cssload-loading-ani2 {
    100% {
        -ms-transform: translate(19px);
        opacity: 1;
    }
}
@-webkit-keyframes cssload-loading-ani2 {
    100% {
        -webkit-transform: translate(19px);
        opacity: 1;
    }
}
@-moz-keyframes cssload-loading-ani2 {
    100% {
        -moz-transform: translate(19px);
        opacity: 1;
    }
}
@keyframes cssload-loading-ani3 {
    100% {
        transform: translate(19px);
    }
}
@-o-keyframes cssload-loading-ani3 {
    100% {
        -o-transform: translate(19px);
    }
}
@-ms-keyframes cssload-loading-ani3 {
    100% {
        -ms-transform: translate(19px);
    }
}
@-webkit-keyframes cssload-loading-ani3 {
    100% {
        -webkit-transform: translate(19px);
    }
}
@-moz-keyframes cssload-loading-ani3 {
    100% {
        -moz-transform: translate(19px);
    }
}
/*
===================================
26. Shop Page Elements
===================================
*/
.page-tool {
    color: #000;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
.page-tool-box a {
    font-size: 16px;
}
.page-tool-box span {
    font-size: 16px;
}
.page-tool a {
    margin-right: 15px;
}
.page-tool-box select {
    width: auto;
    margin: 0 10px;
}

.Quick-view-popup {
    width: 100%;
    background: #fff;
    float: left;
}


/*
===================================
27. Pages Style
===================================
*/


/* 27.1 Product Detail */

.product-page img {
    width: 100%;
}
.product-list-item .list-icon a {
    font-size: 16px;
}
div#product-view-list {
    display: none;
}
.product-detail-image {
    width: 100%;
    float: left;
}
.product-detail-image figure {
    margin-bottom: 30px;
}
.product-page .product-item .price-box {
    text-align: left;
    padding: 0;
}
.quantity-box {
    width: 100%;
    float: left;
}
.product-page .product-item .price-box p {
    padding: 10px 0;
}
span.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    margin: 10px 10px 10px 0;
}
.blue-color {
    background-color: #0030ff;
}
.green-color {
    background-color: #00ffc0;
}
.yellow-color {
    background-color: #fff600;
}
.red-color {
    background-color: #ff0000;
}
.black-color {
    background-color: #000;
}
.sky-blue-color {
    background-color: #00aeff;
}
p.review-icon {
    margin: 0;
}
.tag-list a:hover {
    color: #fff;
}
.tag-list a {
    padding: 10px 30px;
    background: #f5f6f0;
    border: 0;
    color: #000;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.tag-list i {
    margin-right: 10px;
}
.tag-list a {
    font-size: 16px;
}


/* 27.2 Checkout Page */

.product-checkout .market-info {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px 18px;
    font-size: 16px;
}
.product-checkout .market-info .fa {
    margin-right: 10px;
}
.product-checkout .market-info .showlogin,
.product-checkout .market-info .showcoupon {
    margin-left: 15px;
}
.product-checkout .login,
.product-checkout .checkout_coupon {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
}
.product-checkout .login > p:first-child {
    padding: 25px 15px 0;
    text-align: left;
}
.product-checkout .button {
    background: black;
}
.product-checkout label.inline {
    margin-left: 30px;
}
.product-checkout #coupon_code {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
}
.product-checkout .checkout_coupon .col-sm-12 {
    padding: 0 25px;
}
.product-checkout .checkout_coupon .col-sm-12:first-child {
    padding-top: 25px;
}
.product-checkout #ship-to-different-address .checkbox {
    display: inline;
    text-align: left;
}
.product-checkout #ship-to-different-address-checkbox {
    display: inline;
    text-align: left;
    visibility: visible;
    margin: 14px 0 0 10px;
}
.product-checkout #billing_address_1,
.product-checkout #shipping_address_1 {
    margin-bottom: 20px;
}
.product-checkout .form-chackout select {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
    color: #777;
}
.product-checkout #createaccount {
    margin-right: 10px;
}
.product-checkout #createaccount,
.product-checkout #createaccount + .checkbox {
    display: inline;
    visibility: visible;
    position: relative;
}
.product-checkout #order_review th,
.product-checkout #order_review td {
    padding: 15px;
    width: 50%;
}
.product-checkout #order_review th p,
.product-checkout #order_review td p {
    margin-bottom: 0;
}
.product-checkout #order_review thead th,
.product-checkout #order_review thead td,
.product-checkout #order_review th,
.product-checkout #order_review td {
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.product-checkout #order_review tfoot th,
.product-checkout #order_review tfoot td {
    color: black;
}
.product-checkout #order_review tfoot th .amount,
.product-checkout #order_review tfoot td .amount {
    font-weight: bold;
}
.product-checkout #payment {
    padding: 45px;
    margin-bottom: 30px;
    background-color: #eee;
}
.product-checkout #payment li {
    list-style: none;
}
.product-checkout .payment_box.payment_method_cheque {
    margin-left: 15px;
}
.product-checkout .shop_table {
    margin-bottom: 0;
    width: 100%;
}
.product-checkout .login,
.product-checkout .checkout_coupon,
.product-checkout .shipping-fields,
.product-checkout .create-account,
.product-checkout .payment_box {
    display: none;
}
section.single-page form.form-chackout label {
    padding: 0;
}
section.single-page .payment-method label.radio-label {
    padding: 4px 0 0 40px;
    display: inline-block;
}
form.login input#rememberme {
    position: relative;
    visibility: visible;
}
form.login label {
    padding: 0;
}
#ship-to-different-address label {
    font-size: 24px;
    color: #000;
    font-weight: 500;
}
.form-row input {
    margin-bottom: 15px;
}
@media only screen and (max-width: 992px) {
    .product-checkout > .container > .row > .col-md-6:first-child {
        margin-bottom: 30px;
    }
}

/* 27.3 Blog Pages */

.blog-sidebar p {
    font-size: 14px;
    line-height: 1.4em;
    color: #777;
}
.recent-posts img {
    width: 100%;
}
.blog-sidebar p a {
    font-size: 14px;
    line-height: 1.4em;
    color: #000;
}
.blog-sidebar h3 {
    margin-bottom: 20px;
}
.blog-recent-post {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.blog-meta-link a {
    display: block;
    margin-bottom: 20px;
    color: #777;
    font-size: 16px;
}
.recent-posts {
    width: 100%;
    float: left;
}
.blog-meta-tags .tag-list a {
    padding: 10px 15px;
    background: #f5f6f0;
    border: 0;
    color: #000;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.blog-meta-tags .tag-list a:hover {
    color: #fff;
}
.Single-blog figcaption {
    position: static;
    width: 100%;
    float: left;
}
.blog-detail span {
    margin-right: 15px;
}
.blog-detail span i {
    margin-right: 5px;
}
.blog-thoughts {
    width: 100%;
    display: inline-block;
    background-color: #f5f6f0;
    border-left: 10px solid;
}
.blog-detail {
    display: inline-block;
}
.blog-detail p {
    margin: 0;
}
.pagination-box a {
    font-size: 16px;
}
.blog-sidebar a {
    font-size: 16px;
}
.blog-news-box h4 {
    color: #fff;
}

/* 27.4 Contact Page */

.address-info i {
    font-size: 20px;
    float: left;
    width: 10%;
    margin-top: 5px;
}
.address-info p {
    margin-bottom: 10px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.address-info span {
    width: 90%;
    float: right;
    text-align: left;
}
.contact-form h3 {
    margin-bottom: 30px;
}
.contact-form input[type="text"] {
    margin-bottom: 30px;
}
.contact-form iframe {
    width: 100%;
    border: 0;
}

/* 27.5 Common pages  */

.question-ans-box {
    text-align: initial;
}
.question-ans-box h3 {
    font-size: 22px;
}
.order-table-cell.order-text h5 {
    padding: 10px 0;
}
.order-table-cell.order-text i {
    padding: 10px 0;
}
.order-data {
    text-transform: capitalize;
}

.order-page-top-section {
    float: left;
    width: 100%;
    display: inline-block;
}
.order-row {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.order-table-cell.order-text {
    padding: 40px 0;
}
.order-table-cell img {
    margin-bottom: 15px;
}
.single-page h3 {
    color: #000;
}
.single-page strong {
    font-size: 16px;
}
section.single-page label {
    font-size: 16px;
    padding: 5px 0px 0px 35px;
}
.single-page .form-row {
    color: #000;
}
.check {
    position: absolute;
    border: 1px solid lightgray;
    height: 20px;
    width: 20px;
    top: 50%;
    margin-top: -10px;
    left: 15px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
input[type=checkbox],
input[type=radio] {
    position: absolute;
    visibility: hidden;
}

/*
===================================
28. Footer Style
===================================
*/

.footer-box {
    display: inline-block;
}
.bottom-footer {
    background: #000;
}
.bottom-footer ul {
    margin: 0;
    padding: 0;
    float: right;
}
.bottom-footer p {
    margin: 0;
    padding: 0;
}
.bottom-footer ul li {
    width: 50px;
    display: inline-block;
    margin-left: 10px;
}
.main_footer {
    background-image: url(../img/footer/background.jpg);
    background-size: cover;
    position: relative;
}
.main_footer:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}
.dark-background {
    background-color: #242323;
    padding: 20px 40px;
}
.foot-sec {
    color: #808080;
    font-size: 16px;
}
.foot-sec ul.text li {
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.foot-sec ul.text li span {
    width: 85%;
    float: right;
    text-align: left;
}
.foot-sec ul.text li i {
    display: inline-block;
}
.foot-sec h3 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 2px solid #242323;
}
.foot-sec p {
    line-height: 1.5em;
    margin: 20px 0 0 0;
}
.foot-sec p span {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: inline-block;
    background: #242323;
    margin: 0 10px 0 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.foot-sec p span i {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: inline-block;
}
.foot-sec ul {
    margin: 20px 0 0 0;
}
.foot-sec ul li {
    padding: 0 0 10px 0;
}
.foot-sec ul li a i {
    padding: 0 8px 0 0;
}
.foot-sec.foot-img-box ul li {
    width: 32%;
    padding: 0 10px 10px 0;
    float: left;
}
.foot-sec p span:hover {
    color: #fff;
}
.bottom-footer figure {
    width: 280px;
    float: right;
}