
:root {
	/* Colores generales */
	--colorPrincipal: #E8004E;
	--white: #FFF;

	/* Bootstrap */
	--primary: #337FA9;
	--primary-on: #005F93;
	--secondary: #506880;
	--secondary-on: #244260;
	--success: #528D46;
	--success-on: #277018;
	--info: #33B8ED;
	--info-on: #00A6E8;
	--warning: #CDA133;
	--warning-on: #C18A00;
	--danger: #AD3333;
	--danger-on: #990000;
}


/*
 |
 | CLASES PARA COLORES
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.principal {
	color: #E8004E;
}


/*
 |
 | LINKS DE LA PÁGINA
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

main a:link:not(.btn),
main a:visited:not(.btn) {
	color: var(--colorPrincipal);
}

main a:active:not(.btn),
main a:hover:not(.btn) {
	color: var(--colorPrincipal);
	text-decoration: underline;
}

footer a:link:not(.btn),
footer a:visited:not(.btn) {
	color: var(--colorPrincipal);
}

footer a:active:not(.btn),
footer a:hover:not(.btn) {
	color: var(--colorPrincipal);
	text-decoration: underline;
}


/*
 |
 | MODIFICACIONES BOOTSTRAP
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.btn {
	box-shadow: none !important;
}

.btn-outline-primary {
	border-color: #3490dc;
	color: #3490dc;
}

.btn-outline-primary:hover {
	border-color: #227dc7;
	color: #227dc7;
	background: transparent;
}


/*
 |
 | PAGINADO BOOTSTRAP
 | ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.page-item.active .page-link {
	background-color: var(--colorPrincipal);
	border-color: var(--colorPrincipal);
}

.page-link {
	color: var(--colorPrincipal);
	padding: 10px 17px;
	font-weight: 500;
}

.page-link:hover {
	color: var(--colorPrincipal);
}